body {
    background-image: url('Photos/front_page_PNG.png');
    no-repeat center center fixed;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 0%;
    left: 0%;
}

.mygtukai {
    position: absolute;
    top: 3%;
    left: 30%;
}

.loginai {
    position: absolute;
    top: 3%;
    left: 90%;
}

.tekstas {
    position: absolute;
    top: 15%;
    left: 13%;
}